@model FormAuthDemo1.Models.NewReservation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>NewReservation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GymClassID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GymClassID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReservationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReservationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsCancelled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsCancelled)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
